li{
    font-size: large;
}

.logo{
    width: 100px; /* Change to desired width */
    height: auto;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Change to desired hover color */
}

.bg-orange {
    background-color: #FF7800; /* Orange color */
  }
  

/* font import */
@import url('https://fonts.cdnfonts.com/css/lemon-tuesday');
@import url('https://fonts.cdnfonts.com/css/casa-sans-fettig');

h1{
    font-family: 'Lemon Tuesday', sans-serif;
    font-size:70px; 
                                        
}

@media (max-width: 500px) {
    h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 50px; /* Adjust font size for smaller screens */
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 60px; /* Adjust font size for medium screens */
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 70px; /* Revert font size for large screens */
    }
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
@media (max-width: 576px) {
    .img-fluid {
        width: 70%; /* Adjust image width for smaller screens */
        height: auto;
        margin: 0 auto; /* Center the image */
    }
}

#pOne {
    padding-top: 10px;
    color:#575655;
}


.btn-color{
    background-color: #f58e21; 

}

.btn-color:hover{

    background-color: #f37208;
}



html{scroll-behavior: smooth;}

#section1 {
    height: auto;
}


#section2{
   
    background-image: url('https://i.ibb.co/w0K25q2/bg2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;

}

#section3{

    background-color: #ffffff;
    background-size: cover;
    height: auto;
    background-position: center;
    


}



  @media (max-width: 967px) {
    .img-small {
      max-width: 100%; /* Ensure images don't overflow their container */
      height: auto; /* Maintain aspect ratio */
      max-height: 200px; /* Set maximum height for smaller screens */
    }
  }

 
  
  

#section4{

    
    background-color: red;
    height:auto;

}




#btn2 {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 430px;
  }
  
  @media (max-width: 569px) {
    #btn2 {
      margin-left: 0; /* Remove left margin for screens below 570px */
    }
  }
  
  @media (min-width: 600px) {
    #btn2 {
      margin-left: 20px; /* Add extra left margin for screens above 600px */
    }


@media (min-width: 630px) {
    #btn2 {
        margin-left: 30px; /* Add extra left margin for screens above 600px */
        }
    }
    

    @media (min-width: 1200px) {
        #btn2 {
            margin-left: 240px; /* Add extra left margin for screens above 600px */
            }
        }

    
        
  }

 #menu{


    
    font-family:  sans-serif;
    text-align: center;
    font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  
  padding: 0;
  color: #7f7f90;
  text-transform: uppercase;
    

  }


.juicemenu{

    
        overflow: hidden;
        text-align: center;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
        
      
}
@media (max-width: 991.98px) {
    .juicemenu {
      margin-bottom: 20px; /* Add margin between items on medium screens */
    }
  }
  
.juicephoto{


    position: relative;
  overflow: hidden;
}

.juicephoto img {
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }

  .juicephoto img:hover {
    transform: scale(1.1); /* Increase the scale of the image on hover */
  }

